<li><a href="{% url 'staff_home' %}"
                class="{% if request.resolver_match.url_name == 'staff_home' %}active{% endif %}"><i
                        class="fas fa-home"></i>
                Dashboard</a></li>
<li><a href="{% url 'take_attendance' %}"
                class="{% if request.resolver_match.url_name == 'take_attendance' %}active{% endif %}"><i
                        class="fas fa-calendar-alt"></i> Take Attendance</a></li>
<li><a href="{% url 'update_attendance' %}"
                class="{% if request.resolver_match.url_name == 'update_attendance' %}active{% endif %}"><i
                        class="fas fa-edit"></i> Update Attendance</a></li>
<li><a href="{% url 'staff_view_attendance' %}"
                class="{% if request.resolver_match.url_name == 'staff_view_attendance' %}active{% endif %}"><i
                        class="fas fa-eye"></i> View Attendance</a></li>
<li><a href="{% url 'staff_add_result' %}"
                class="{% if request.resolver_match.url_name == 'staff_add_result' %}active{% endif %}"><i
                        class="fas fa-plus-circle"></i> Add Result</a></li>
<li><a href="#"><i class="fas fa-poll"></i> Edit Result</a></li>
<li><a href="{% url 'staff_apply_leave' %}"
                class="{% if request.resolver_match.url_name == 'staff_apply_leave' %}active{% endif %}"><i
                        class="fas fa-envelope"></i> Apply Leave</a></li>
<li><a href="{% url 'staff_feedback' %}"
                class="{% if request.resolver_match.url_name == 'staff_feedback' %}active{% endif %}"><i
                        class="fas fa-comment"></i> Feedback</a></li>
<li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>